# ==== DDR Address ====
NET "sd_A<12>" LOC = "P2" | IOSTANDARD = SSTL2_I ;
NET "sd_A<11>" LOC = "N5" | IOSTANDARD = SSTL2_I ;
NET "sd_A<10>" LOC = "T2" | IOSTANDARD = SSTL2_I ;
NET "sd_A<9>" LOC = "N4" | IOSTANDARD = SSTL2_I ;
NET "sd_A<8>" LOC = "H2" | IOSTANDARD = SSTL2_I ;
NET "sd_A<7>" LOC = "H1" | IOSTANDARD = SSTL2_I ;
NET "sd_A<6>" LOC = "H3" | IOSTANDARD = SSTL2_I ;
NET "sd_A<5>" LOC = "H4" | IOSTANDARD = SSTL2_I ;
NET "sd_A<4>" LOC = "F4" | IOSTANDARD = SSTL2_I ;
NET "sd_A<3>" LOC = "P1" | IOSTANDARD = SSTL2_I ;
NET "sd_A<2>" LOC = "R2" | IOSTANDARD = SSTL2_I ;
NET "sd_A<1>" LOC = "R3" | IOSTANDARD = SSTL2_I ;
NET "sd_A<0>" LOC = "T1" | IOSTANDARD = SSTL2_I ;
# ==== DDR Data ====
NET "sd_DQ<15>" LOC = "H5" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<14>" LOC = "H6" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<13>" LOC = "G5" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<12>" LOC = "G6" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<11>" LOC = "F2" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<10>" LOC = "F1" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<9>" LOC = "E1" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<8>" LOC = "E2" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<7>" LOC = "M6" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<6>" LOC = "M5" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<5>" LOC = "M4" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<4>" LOC = "M3" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<3>" LOC = "L4" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<2>" LOC = "L3" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<1>" LOC = "L1" | IOSTANDARD = SSTL2_I ;
NET "sd_DQ<0>" LOC = "L2" | IOSTANDARD = SSTL2_I ;
# ==== DDR Control ====
NET "sd_BA<0>" LOC = "K5" | IOSTANDARD = SSTL2_I ;
NET "sd_BA<1>" LOC = "K6" | IOSTANDARD = SSTL2_I ;
NET "sd_RAS" LOC = "C1" | IOSTANDARD = SSTL2_I ;
NET "sd_CAS" LOC = "C2" | IOSTANDARD = SSTL2_I ;
NET "sd_WE" LOC = "D1" | IOSTANDARD = SSTL2_I ;
NET "sd_CKE" LOC = "K3" | IOSTANDARD = SSTL2_I ;
NET "sd_CS" LOC = "K4" | IOSTANDARD = SSTL2_I ;
NET "sd_LDM" LOC = "J2" | IOSTANDARD = SSTL2_I ;
NET "sd_LDQS" LOC = "L6" | IOSTANDARD = SSTL2_I ;
NET "sd_UDM" LOC = "J1" | IOSTANDARD = SSTL2_I ;
NET "sd_UDQS" LOC = "G3" | IOSTANDARD = SSTL2_I ;
# ==== DDR Clock ====
NET "sd_CK_P" LOC = "J5" | IOSTANDARD = SSTL2_I ;
NET "sd_CK_N" LOC = "J4" | IOSTANDARD = SSTL2_I ;
NET "clk133Fb" LOC = "B9" | IOSTANDARD = LVCMOS33 ;
NET "sd_CK_P" PERIOD = 7.5188ns HIGH 50%;
NET "sd_CK_N" PERIOD = 7.5188ns HIGH 50%;
NET "clk133Fb" CLOCK_DEDICATED_ROUTE = FALSE ;
NET "clk133Fb" FEEDBACK = 1ns NET "sd_CK_P";
# ==== Prohibit VREF pins ====
CONFIG PROHIBIT = D2;
CONFIG PROHIBIT = G4;
CONFIG PROHIBIT = J6;
CONFIG PROHIBIT = L5;
CONFIG PROHIBIT = R4;
